/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
/* * {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif; */


body{
  background-color: #1e3932;
}

/* your code */
.container {
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  color: white;
  font-size: 300%;
   
}
header{
  display: flex;
  flex-direction: row;
  border : 1px solid black;
  margin-left:  5%;
  background-color: grey;
  padding: 3%;
  width: 84%;
  height: 90%;
  color: black;
  font-size: 150%;

  
}
.city-list{
  display: flex;
  flex-direction: column;
  border: solid 3px white;
  height: 40%;
  margin: 5%;
}
.city-list > .city-item {
  border:0px solid;
  background-color:#00754a ;
  margin: 1%;
  padding: 1%;
  text-align: right ;
  color:black;
  font-size: 150%;
}

