/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
* {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif;

}

/* your code */
nav{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
label{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

