/* 
  colors
    white #f2f0eb;
    black #27251F
    lightgreen #00754a
    extralightgreen #d4e9e2
    darkgreen #1e3932
*/
/* * {
  color: #27251F;
  box-sizing: border-box;
  font-family: sans-serif; */


body{
  background-color: #1e3932;
}

/* your code */
.container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
nav{
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  color: white;
  font-size: 300%;
   
}

